body{
  background-color:  #330000;
}
.container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  position: relative;
  animation: mymove 2s infinite ease-in-out;
  background-color:  #b37700;  
}
.heading{
  text-align: center;
  color: #316600;
  animation: visible 2s infinite ease-in-out;
}
.firstrow{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 8%;
  margin-top: 6%;

}
.firstmovie{
 background-color: #316600;
 margin-left: 15%; 
 padding: 8%;

}
.secondmovie{
  background-color: yellow;
  margin-right: 15%; 
  padding: 8%;
}
.movieheading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
}

a{
  text-decoration: none;
  color: black;
  transition: 0.5s ease-in-out;
}
a:hover{
  font-size: 20px;
  color: aqua;
}
img{
  margin-top: 1%;
  transition: 0.5s ease-in-out;
  
}
img:hover{
  transform: rotate(180deg);
  cursor: pointer;
}
footer{
  margin-top: 2%;
  color: goldenrod;
}
p{
  white-space: wrap;
}
@keyframes mymove{
  from{top: 1rem;}
  to{bottom: 0rem;}
}
@keyframes visible{
  0%{opacity: 0;}

  100%{opacity: 1;}
}